<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <p>Sum: {{ sum }}</p>
        <p>Sub: {{ sub }}</p>
        <p>mul: {{ mul }}</p>
    </body>
</html>